<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWQy4zSHcrSEDdFngKkRD9quO9w_5iykM</string>
	<key>GCM_SENDER_ID</key>
	<string>147601746736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ceportal</string>
	<key>PROJECT_ID</key>
	<string>ceportal-b5012</string>
	<key>STORAGE_BUCKET</key>
	<string>ceportal-b5012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147601746736:ios:75b00d2bdc5da4120d76f5</string>
</dict>
</plist>